<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Main Page</title>
</head>
<body>
	<h1>Hi there!</h1>
	<form action="/sendmsg" method="post">
		<select name="selectRole">
			<% roles.forEach((role) => { %>
				<option><%= role.name %></option>
			<% }); %>
		</select>
		
		<input type="text" name="msg">
		<button type="submit">Submit</button>
	</form>
</body>
</html>